name: Check

on:
  push:
    branches:
      - main
      - brzoza6538-pipeline-setup
  pull_request:
    branches:
      - main
      - brzoza6538-pipeline-setup

permissions:
  contents: write

env:
  DOCS_REQ: docs/python-docs-requirements.txt
  MKDOCS_CONFIG: docs/mkdocs.yml

jobs:
# 1 ----------------------------------------------------------------------------------------------------
  setup:
    runs-on: ubuntu-latest
    steps:

      - name: Check make version
        run: make --version
        
      - name: set up python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: install docker compose
        run: |
          sudo apt-get update
          sudo apt-get install -y docker-compose
          
        
# 2 ----------------------------------------------------------------------------------------------------
  check_docker:
   runs-on: ubuntu-latest
   needs: setup 
   steps:
      - uses: actions/checkout@v4

      - name: make  .env.prod file
        run: cp src/deployments/.env.prod.sample src/deployments/.env.prod

      - name: build docker prod image
        run: docker compose -f src/deployments/docker-compose.prod.yml --env-file src/deployments/.env.prod build

      - name: stop prod docker
        run: docker compose -f src/deployments/docker-compose.prod.yml --env-file src/deployments/.env.prod down


      - name: make .env.stage file
        run: cp src/deployments/.env.stage.sample src/deployments/.env.stage
        
      - name: build docker stage image
        run: docker compose -f src/deployments/docker-compose.stage.yml --env-file src/deployments/.env.stage build

      - name: stop stage docker
        run: docker compose -f src/deployments/docker-compose.prod.yml --env-file src/deployments/.env.prod down


      - name: make .env.dev file
        run: cp src/deployments/.env.dev.sample env.dev

      - name: build docker dev image
        run: docker compose -f src/deployments/docker-compose.yml --env-file env.dev build

            
      - name: upload env.dev as artifact
        uses: actions/upload-artifact@v4
        with:
          name: env-file
          path: env.dev

# 3 ----------------------------------------------------------------------------------------------------
  check_code:
    runs-on: ubuntu-latest
    needs: check_docker
    steps:
      - uses: actions/checkout@v4

      - name: check1
        run: ls -al
      
      - name: get env.dev artifact
        uses: actions/download-artifact@v4
        with:
          name: env-file

      - name: check2
        run: ls -al

        
      - name: start docker
        run: docker compose -f src/deployments/docker-compose.yml --env-file env.dev up -d

 
      - name: tests tests pq-toolkit-api
        run: docker compose -f src/deployments/docker-compose.yml --env-file env.dev exec pq-toolkit-api-dev make test

      - name: tests pq-toolkit
        working-directory: src/pq-toolkit 
        run: make test-all

      - name: linter
        run: docker compose -f src/deployments/docker-compose.yml --env-file env.dev exec pq-toolkit-api-dev make lint
       

# 4 ----------------------------------------------------------------------------------------------------
  cleanup:
    runs-on: ubuntu-latest
    needs: check_code
    
    steps:
      - uses: actions/checkout@v4

      - name: get env.dev artifact
        uses: actions/download-artifact@v4
        with:
          name: env-file


      - name: stop dev docker
        run: docker compose -f src/deployments/docker-compose.yml --env-file env.dev down
